*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: fantasy;
}

:root {
    --hue-nuetral: 270;
    --hue-wrong: 0;
    --hue-correct: 150
}

body {
    --hue: var(--hue-nuetral) padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
    --hue: var(--hue-correct)
}

body.wrong {
    --hue: var(--hue-wrong)
}

.container {
    width: 800px;
    max-width: 75%;
    background-color: white;
    border-radius: 8px;
    padding: 11px;
    box-shadow: 0 0 200px 50px;
}

.btn-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-nuetral);
    border: 2px solid hsl(var(--hue), 100%, 50%);
    background-color: hsl(var(--hue), 100%, 70%);
    font-size: 20px;
    ;
}

.btn:hover {
    background-color: rgb(186, 156, 241);
}

.btn.correct {
    --hue: var(--hue-correct) color: green;
}

.btn.wrong {
    --hue: var(--hue-wrong) color: Red
}

.start-btn {
    font-size: 30px
}

.operation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}